@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';


calendar{
  width: 100%
}



sidebar{
  width: 95%;
  padding-top: 50px;
}

sidebar md-icon.material-icons{
  cursor: pointer;
  font-size: 20px;
}

sidebar md-card{
  padding: 10px;
}

.aside figure{
  align-items: flex-start;
}
